html, body {
    height: 100%;
}

* {
    color:lightgray;
}

a {
    text-decoration: none;
}

.horiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.vert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
    overflow: scroll;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--gap);
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.padded{
    padding: 2vh;
}

.horiz-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

:root {
    --project-width: 30vh;
    --project-height: 20vh;
    --gap: 1vh
}