<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed=top">
  <a class="navbar-brand" href="#"><img class="logo" src="../images/main_logo.png" alt="Kyle Logo" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" id="home">Home</a>
      <a class="nav-item nav-link" href="#" id="prev_work">Resume</a>
      <a class="nav-item nav-link" href="#" id="projects">Projects</a>
      <a class="nav-item nav-link" href="#" id="contact">Contact</a>
    </div>
  </div>
  <a class="navbar-brand" href="https://github.com/kesquerra"><img class="logo" src="../images/github_logo.png" alt="Github Logo" /></a>
  <a class="navbar-brand" href="mailto:kyle@esquerra.io"><img class="logo" src="../images/email_logo.png" alt="Email Logo" /></a>
</nav>